<h1>Bem-Vindo</h1>

  <p>
    Pagina em contrução.<br/> Essa pagina é feita com
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    .
  </p>

  <%= link_to "Cadastre-se", signup_path, :class => "signup_button round" %>

