<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Sobre", about_path %></li>
      <li><%= link_to "Duvidas?", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Novidades</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>
